<!DOCTYPE html>
<html>
<head>
  <title>Twilio Textr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
	  <div class="header">
	    <ul class="nav nav-pills pull-right">
	      <li><%= link_to "Home", root_path %></li>
	      <li><%= link_to "All Sent Messages", messages_path %></li>
	    </ul>
	    <h3 class="text-muted">Twilio Textr</h3>
	  </div>

	  <div class="jumbotron">
	    <h1>Send an SMS now.</h1>
	    <p class="lead">Mobile Engagement with Twilio</p>
	  </div>

					<%= yield %>

		<div class="clearfix"></div>
	  <div class="footer">
	  		<div class="pull-right">
	    		<p><a href="https://github.com/rosiehoyem/sms-app">GitHub Repository</a>  |  <a href="https://github.com/rosiehoyem/sms-app/tree/master/coverage">Test Coverage</a>  |  &copy; Rosie Hoyem</p>
	    	</div>
	  </div>

	</div> <!-- /container -->

</body>
</html>
